{{!-- Everything inside the #author tags pulls data from the author --}}
{{#primary_author}}

<section class="d-flex justify-content-center justify-content-md-start">
    <a href="{{url}}" target="_blank">
    {{#if profile_image}}
        <img class="author-profile-image" src="{{profile_image}}" alt="{{name}}" />
    {{else}}
        <span class="avatar-wrapper">{{> "icons/avatar"}}</span>
    {{/if}}
    </a>
    <section class="ms-2">
        <a href="{{url}}" target="_blank" class="text-decoration-none text-black">
        <h4 class="author-card-name"><p class="mb-0">{{name}}</p></h4>
        </a>
        <time class="post-full-meta-date" datetime="{{date format="YYYY-MM-DD"}}">{{date format="D MMMM YYYY"}}</time>
    </section>
</section>

{{/primary_author}}
