{{!-- This is a partial file used to generate a post "card"
which templates loop over to generate a list of posts. --}}


<article class="post-card {{post_class}}{{#unless feature_image}} no-image{{/unless}}">
    {{#if feature_image}}
        <a class="post-card-image-link" href="{{url}}">
            <div class="home-post-card-image" style="background-image: url({{feature_image}})"></div>
        </a>
    {{/if}}
    <div class="post-card-content pt-1">
        <a class=" post-card-content-link text-center text-decoration-none" href="{{url}}">
            <header class="post-card-header">
                <h3 class="post-card-title overflow-hidden fs-5 mx-3">{{title}}</h3>
                <button class="btn btn-outline-light pt-0 post-card-read-more-btn" role="button"
                  tabIndex="-1" aria-disabled="false">
                  Read More
                  <i class="bi bi-arrow-right"></i>
                </button>
            </header>
        </a>
    </div>
</article>


{{! post-card {{post_class}}
{{! {{#unless feature_image}}
{{! no-image{{/unless}}

{{!-- <article class="bg-transparent">
    {{#if feature_image}}
      <img class="post_feature_image card-img-top post-card-image shadow"
          srcset="{{img_url feature_image size="s"}} 300w,
                  {{img_url feature_image size="m"}} 600w,
                  {{img_url feature_image size="l"}} 1000w,
                  {{img_url feature_image size="xl"}} 2000w"
          sizes="(max-width: 1000px) 400px, 800px"
          src="{{img_url feature_image size="l"}}"
          alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}"
          loading="lazy"
      />
    {{/if}}
    <div class="card-body">
        <a class="post-card-content-link text-decoration-none text-dark pt-0 ps-0" href="{{url}}">
            <header class="post-card-header text-start">
                <h5 class="card-title"><b>{{title}}</b></h5>
            </header>
            {{#if primary_tag}}
                {{#primary_tag}}
                <div class="post-card-primary-tag">{{name}}</div>
                {{/primary_tag}}
            {{/if}}
            <a href={{url}} class="text-danger text-decoration-none"><b>Read More &nbsp;&nbsp;  <span class="fa-solid fa-arrow-right-long" /></b></a>
        </a>
    </div>
</article> --}}


