<article class="post-card {{post_class}}">
    {{#if feature_image}}
        <a class="post-card-image-link" href="{{url}}">
            <div class="home-post-card-image" style="background-image: url({{feature_image}})"></div>
        </a>
    {{/if}}
    <div class="post-card-content">
        <a class="post-card-content-link text-decoration-none mx-2 text-center" href="{{url}}">
            <header class="post-card-header">
                <h3 class="text-black post-card-title work-card-title-margin fs-5 overflow-hidden">{{title}}</h3>
            </header>
        </a>
    </div>
</article>
