<!DOCTYPE html>
<html lang="{{@site.locale}}">
<head>

    {{!-- Document Settings --}}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{!-- Base Meta --}}
    <title>{{meta_title}}</title>
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Mobile Development, App Development, Technology, Outsourcing, CTO Services">

    {{!-- Styles'n'Scripts --}}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Hind">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link rel="icon" href={{asset "img/favicon.ico"}} type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{{asset "built/screen.css"}}" />
    <link rel="stylesheet" type="text/css" href="{{asset "built/style.css"}}" />

    {{!-- This tag outputs SEO meta+structured data and other important settings --}}
    {{ghost_head}}

</head>
<body class="{{body_class}}">

    <div class="site-wrapper">
        {{> "site-nav"}}
        {{!-- All the main content gets inserted here, index.hbs, post.hbs, etc --}}
        {{{body}}}

        {{!-- The footer at the very bottom of the screen --}}
        <footer class="site-footer outer" id="footer">
              <div class="site-footer-content inner">
                  <section class="copyright"><a href="{{@site.url}}">{{@site.title}}</a> &copy; {{date format="YYYY"}}</section>
                  <nav class="site-footer-nav">
                      {{#if @blog.facebook}}<a href="{{facebook_url @blog.facebook}}" target="_blank" rel="noopener"><i class="fab fa-facebook"></i></a>{{/if}}
                      {{#if @blog.twitter}}<a href="{{twitter_url @blog.twitter}}" target="_blank" rel="noopener"><i class="fab fa-twitter"></i></a>{{/if}}
                      <a href="https://www.github.com/aNinjaMonk/"><i class="fab fa-github"></i></a>
                      <a href="mailto:abhi@bahikhata.co"><i class="fas fa-envelope-open-text"></i></a>
                      <a href="tel:+917456883325"><i class="fas fa-phone"></i></a>
                      {{#if @labs.subscribers}}
                          <a class="subscribe-button" href="#subscribe">RSS</a>
                      {{else}}
                          <a class="rss-button" href="https://feedly.com/i/subscription/feed/{{@site.url}}/rss/" target="_blank" rel="noopener">{{> "icons/rss"}}</a>
                      {{/if}}
                  </nav>
              </div>
        </footer>
    </div>

    {{!-- The big email subscribe modal content --}}
    {{#if @labs.subscribers}}
    <div id="subscribe" class="subscribe-overlay">
        <a class="subscribe-overlay-close" href="#"></a>
        <div class="subscribe-overlay-content">
            {{#if @blog.logo}}
                <img class="subscribe-overlay-logo" src="{{@site.logo}}" alt="{{@site.title}}" />
            {{/if}}
            <h1 class="subscribe-overlay-title">Subscribe to {{@site.title}}</h1>
            <p class="subscribe-overlay-description">Stay up to date! Get all the latest &amp; greatest posts delivered straight to your inbox</p>
            {{subscribe_form placeholder="youremail@example.com"}}
        </div>
    </div>
    {{/if}}

    {{!-- jQuery + Fitvids, which makes all video embeds responsive --}}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
    <script>
      $(".navbar-nav li.trigger-collapse a").click(function(event) {
        $(".navbar-collapse").collapse('hide');
      });
      //jquery auto height
      jQuery.fn.autoHeight = function(options) {
          var opt = $.extend( {}, options );
          return this.each(function() {
      		var ele = $(this);
              function setHeight(){
              	var windowHeight = $(window).height();
      	        ele.css({"height" : windowHeight});
              }
          	setHeight();
          	$(window).resize(function() {
      	    	setHeight();
      		});
          });
      };

      $(function() {
      	$(".autoHeight").autoHeight();
      });
      var images = document.querySelectorAll('.kg-gallery-image img');
      images.forEach(function (image) {
          var container = image.closest('.kg-gallery-image');
          var width = image.attributes.width.value;
          var height = image.attributes.height.value;
          var ratio = width / height;
          container.style.flex = ratio + ' 1 0%';
      });
    </script>
    <script type="text/javascript" src="{{asset "js/jquery.fitvids.js"}}"></script>
    {{#if pagination.pages}}
    <script>
        // maxPages is a global variable that is needed to determine
        // if we need to load more pages for the infinitescroll, or if
        // we reached the last page already.
        var maxPages = parseInt('{{pagination.pages}}');
    </script>
    <script src="{{asset "js/infinitescroll.js"}}"></script>
    {{/if}}

    {{!-- The #block helper will pull in data from the #contentFor other template files. In this case, there's some JavaScript which we only want to use in post.hbs, but it needs to be included down here, after jQuery has already loaded. --}}
    {{{block "scripts"}}}

    {{!-- Ghost outputs important scripts and data with this tag - it should always be the very last thing before the closing body tag --}}
    {{ghost_foot}}

</body>
</html>
